.App {
  font-family: sans-serif;
  padding: 15px;
}

.tabs-container {
  display: flex;
}

.tab {
  padding: 5px;
  border: 1px solid #333;
  cursor: pointer;
}

.form-field {
  padding: 5px;
  width: 100px;
}

.form-container {
  padding-top: 4px;
  padding-bottom: 4px;
}